*{
    margin: auto;
}
p{
    margin: 40px; 
    border: 2px solid black;
    padding: 30px;
}
h1{
    background-color:turquoise;
    text-align: center;
}

body{
    background-color: rgb(157, 114, 168);
}

#miSuperTitulo{
    font-size: 50px;
}

.imagenesIntro{
    width: 280px;
    display: block;
}

a:hover{
    color: rgb(132, 210, 30);
    font-size: 20px;
    font-style: italic;
}

*{
    margin: auto;
}

img{width: 280px;
    display: block;}
img:hover{
    width: 280px;
}

.texto{
    display: block;
}

.cuadro1{
    width: 10%;
    height: 10%;
    border: 2px solid black;
    padding: 2%;
    background-color: rgb(114, 154, 228);
    margin: 5%;

    position: static;

}

.cuadro2{
    width: 10%;
    height: 10%;
    border: 2px solid black;
    padding: 2%;
    background-color: rgb(155, 121, 248);
    margin: 5%;

    position: relative;
}